html{box-sizing:border-box;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-family:Verdana,sans-serif;overflow-x:hidden;height: 100%}
body{margin:0;font-family:Verdana,sans-serif;font-size:2em;line-height:1.5;height: 100%}
.pageColor{background-color: hwb(0 85% 11%)}
h5{font-size:1em;font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:0}
h4{margin: 0;}
.maps{max-width:100%;height:350px}
img{vertical-align:middle}

/* menu */
.w3-top{position:fixed;width:100%;z-index:1;top:0;}
.w3-row:after,.w3-row:before{content:"";display:table;clear:both}
.w3-padding{padding:8px 16px!important}
.w3-col{float:left;width:100%;color: #000;}
.w3-col.s3{width:24.99999%}
.w3-col.s6{width:49.99999%}
.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-button:disabled{cursor:not-allowed;opacity:0.3}
.w3-button:hover{color:#000!important;background-color:#ccc!important}
.w3-block{display:block;width:100%}

/* header */
.bgimg{background-position: center;background-size: cover;background-image: url(institutoCanoas.jpg);height: 100%;position: relative}
.w3-display-bottomleft{position:absolute;left:0;bottom:0}
.w3-display-bottomright{position:absolute;right:0;bottom:0}
.w3-center{width:auto;text-align:center}
.w3-padding-large{padding:12px 24px!important}
.w3-tag{width:65%; background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}
.logotrans{position:absolute;top:10%;margin-left:80%; width: 15%}

/* sobre nós */
.w3-content{margin-left:auto;margin-right:auto;max-width:1000px;background-color: #b9b1b1;}
.w3-content p{padding: 10px}
.w3-padding-64{padding-top:90px!important;padding-bottom:40px!important}
.w3-leftbar{background-color:rgb(145, 137, 137);border-left:6px solid #312b2b!important}
.w3-leftbar p{text-indent: 20px}
.nomeDiretor{font-size:medium}

.w3-leftbar a{text-decoration: none;color:#312b2b}
.fotoDiretor{margin-left: 15%; margin-top: 20px; height: 70%; width: 70%!important}
.apresentacao{text-align: justify;padding: 10px 10px;text-indent: 20px;margin-bottom: 5px;}

/* parceiros */
.w3-padding-48{padding-top:90px!important;padding-bottom:48px!important}
.w3-card{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.menu{display: none}
.fotoGuarita{width:100%;height: 700px; max-width:1000px;margin-top:10px}
#Eat p{margin: 0}
#Drinks p{margin: 0}

/* contato */
.w3-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.w3-padding-16{padding-top:16px!important;padding-bottom:16px;box-sizing: border-box!important}
.w3-border{border:1px solid #ccc!important}
form{width: 100%;}

/* footer */
.w3-large{padding-top: 10px; font-size:18px!important}
.coluna1{float: left;width: 50%;padding: 0px;margin: 0px}
.colunas{padding: 0px;margin: 0px}
.logopenal{width: 5%}

@media screen and (max-width:380px){
    /* menu */
    .w3-top{width:100%}
    .w3-padding{width: 100%; box-sizing: border-box}
    .w3-button{font-size: x-small;box-sizing: border-box; padding:8px 8px}
    
    /* header */
    .bgimg{background-repeat: no-repeat;margin-top: 42px;height: 500px;text-align: center}
    .w3-padding-large{padding:0!important}
    .w3-tag{padding: 0;font-size: x-small; width: 50%;}
    .logotrans{position: relative ;width: 50%; margin:auto; padding: 0}
    
    /* sobre nós */
    .w3-padding-64{padding-top:30px!important;padding-bottom:5px!important}
    .apresentacao{font-size: x-small}
    .w3-leftbar{font-size: x-small}
    /* .fotoDiretor{margin-left: 50px} */
    
    /* parceiros */
    .w3-padding-48{box-sizing: border-box; padding-top:30px!important;padding-bottom:5px!important}
    .w3-card{font-size:x-small}
    .fotoGuarita{height: 100%}
    .w3-unidades{width: 320px; padding:0; margin: 0;box-sizing: border-box!important}
    
    /* contato */
    .w3-content p {font-size: x-small}
    .w3-input{box-sizing: border-box}

    /* footer */    
    .w3-large {font-size:small!important}
    .logopenal {width: 15%}
    .coluna1{font-size: xx-small}
}

@media (min-width:381px) and (max-width: 600px){
    /* menu */
    .w3-top{width:100%}
    .w3-padding{width: 100%; box-sizing: border-box}
    .w3-button{font-size:small;box-sizing: border-box; padding:8px 8px}
    
    /* header */
    .bgimg{background-repeat: no-repeat;margin-top: 42px;height: 500px;text-align: center}
    .w3-padding-large{padding:0!important}
    .w3-tag{padding: 0;font-size:small; width: 70%}
    .logotrans{position: relative ;width: 30%; margin:auto; padding: 0}
    
    /* sobre nós */
    .w3-padding-64{padding-top:30px!important;padding-bottom:5px!important}
    /* .fotoDiretor{margin-left: 70px} */
    
    /* parceiros */
    .w3-padding-48{box-sizing: border-box; padding-top:30px!important;padding-bottom:5px!important}
    .w3-card{font-size:x-small}
    .fotoGuarita{height: 100%}
    .w3-unidades{width: 100%; padding:0; margin: 0;box-sizing: border-box!important}
    
    /* contato */
    .w3-content p {font-size:small}
    .w3-input{box-sizing: border-box}

     /* footer */ 
    .w3-large {font-size:small!important}
    .logopenal {width: 15%}
    .coluna1{font-size: xx-small}
}

@media (min-width:601px) and (max-width: 999px){body{font-size:1em}}

/* Colors */
.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}
.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#fff !important;background-color:#4e4949!important}
.w3-text-grey,.w3-hover-text-grey:hover,.w3-text-gray,.w3-hover-text-gray:hover{color:#757575!important}
.w3-dark-grey,.w3-hover-dark-grey:hover,.w3-dark-gray,.w3-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}